body
{
    
background-color: #AB9EFF;
    height: 80%;  
    padding: 0px;
    color: #35297F;
    margin: 0px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-size: 1em; 
}

.description
{
    display: none;
}

h1
{
    font-family: "Helvetica Neue";
    font-style: italic;
    font-size: 2em;
}

h2
{
    font-family: "Helvetica Neue";
    font-style: italic;
    font-size: 1.5em;
}

footer
{
    background: linear-gradient(to right,#5441CC,#564F7F);
    border-top: 1px solid #35297F;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0px 0px 0px 10px;
    color: white;
}

footer a
{
    text-decoration: none;
    color:  #AB9EFF;
}

footer a:hover
{
    text-decoration: underline;
    color: white;
}

table 
{
    border: 2px solid #35297F;
    background-color: #6952FF; 
    border-collapse: collapse;
}

table tr,td
{
    padding: 0;
    border: 0;
}

table input
{
    background-color: #6952FF;  
    border: 0px;
    color: white;
    width: 100px;
    
   
}

input[type=number] 
{
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

table select
{
    background-color: #6952FF;  
    border: 0px;
    color: white;
    width: 100px;
}


th
{
    border-bottom: 2px solid black;
    color: white;
    background-color: #5442CC;
    
}

th input
{
   background-color: #6951FF;   
    border: 0px;
    color: white;
}

table tr:hover
{
    background-color: #D8D2FF;
}

table tr:hover th
{
        
}


table tr:nth-child(even) td
{
    background-color: #AB9EFF;    
}

table tr:nth-child(even) input
{
    background-color: #AB9EFF;
    color: black;
}

table tr:nth-child(even) select
{
    background-color: #AB9EFF;
    color: black;
}

table tr:nth-child(even):hover td
{
    background-color: #D8D2FF;
    color: black;
}

table tr:nth-child(even):hover input
{
    background-color: #D8D2FF;
    color: black;
}

table tr:nth-child(even):hover select
{
    background-color: #D8D2FF;
    color: black;
}

table tr:hover td
{
    background-color: #D8D2FF;
    color: black;
}

table tr:hover input
{
    background-color: #D8D2FF;
    color: black;
}

table tr:hover th input
{
    background-color: #6951FF;
    color: white;
}

table tr:hover select
{
    background-color: #D8D2FF;
    color: black;
}

[id=courses] table input
{
   width: 150px;
}


.header
{
    background: linear-gradient(to right,#5441CC,#564F7F);
    border-bottom: 8px solid #35297F;
    color: white;
    padding: 5px;
}


.tableSelect div 
{      
    display: none; 
}
 

.tableSelect div:target 
{
    display: flex;    
    flex-flow: column;
    justify-content: center;
    margin: 2px;
}


.menu ul
{
    border: 0px;
    border-bottom: 2px solid #35297F;
    border-right: 2px solid #35297F;
}

.actions ul
{
    border-left: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #6951FF;
    border: 2px solid #35297F;    
}

li a 
{
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #AB9EFF;
    color: #35297F;
}

article
{    
    display: flex;
    flex-flow: row;
    justify-content: center;
}

article h2
{
    display: flex;
    flex: 1;
}

.data table
{   
    display: flex;
    flex: 1;
}

.actions
{
    width: 60px;
    height: 125px;
    display: flex;
    text-align: center;
}

.actions li a
{
    padding: 5px;
}

@media print
{
    body
    {
        background-color: white;
        border: 0;
    }
    
    .header
    {
        display: none;
        /*background: white;
        color: black;
        border-color: black;*/
    }
    
    footer
    {
        display: none;
    }
    
    nav
    {
        display: none;
    }
    
    h1
    {
        color: black;
    }
    
    h2
    {
        color: black;
    }
    
    .actions
    {
        display: none;        
    }
    
    .description
    {
        color: black;
    }
    
    table
    {
        background: white;
        color: black;
        border: 2px solid black;
            
    }
    
    table input
    {
        color: black;
        border: 0px;
        background-color: white;
    }
    
    table select
    {
        color: black;
        border: 0px;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
            
    table th
    {
        color: black;
        background-color: white;
        border-bottom: 2px solid black;
    }
    
    table tr,td
    {
        border: 1px solid black;
        color: black;
        padding: 1px;
        background-color: white;
    }
    
    table th input
    {
        display: none;
    }
    
    table tr:nth-child(even) input
    {
        color: black;
        background-color: white;
    }
    
    table tr:nth-child(even) td
    {
        color: black;
        background-color: white;
    }
    
    table tr:nth-child(even) select
    {
        color: black;
        background-color: white;
    }
    
    .description
    {
        display: flex;
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    
    article
    {
        flex-flow: column;
    }
}

